body{
	min-height: 100vh;
	background-image: url(cssimages/FondoSitioPasta3.jpg);
	background-size: cover;
}
body{
	.wrapper{
		.box1{
			.banner{
				min-width: 100%;
				border-bottom: darkgrey;
				position: fixed;
				align-content: center;
				box-shadow: 20px 20px 20px 20px rgba(214, 192, 214, 0.3);
			}
		}
	}
}
body{
	.wrapper{
		.navbar{
			padding: 0px;
		}
	}
}
body{
	.wrapper{
		.box2{
			margin-top: 130px;
			margin-bottom: 100px;
		}
	}
}
body{
	.wrapper{
		h1{
			text-align: center;
		}
	}
}
body{
	.wrapper{
		h2{
			text-align: center;
		}
		p{
			text-align: center;
		}
	}
}

body{
	.wrapper{
		.box4{
			min-width: 100%;
			position: fixed;
			bottom: 0;
		}
	}
}
